/* Styling for the body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
  color: #333333;
}

/* Styling for the header */
header {
  background-color: #ffffff;
  padding: 2.5%;
  box-shadow: 0 0.5% 1.25% rgba(0,0,0,0.1);
  text-align: center;
}

/* Styling for the content class where the information is stored. */
.content {
  padding: 5%;
  max-width: 80%;
  margin: auto;
}

/* Styling for h1, h2 */
h1, h2 {
  color: #333;
  font-weight: 300;
}

h2 {
  border-bottom: 0.15em solid #666;
  padding-bottom: 0.75em;
  margin-top: 2%;
}

/* Styling for the Profile image */
.profile-image {
  display: block;
  margin: 2% auto;
  width: 10%;
  height: auto;
  border-radius: 50%;
  border: 0.15em solid #cccccc;
}

/* Styling for the Footer */
footer {
  background-color: #ffffff;
  text-align: center;
  padding: 0.1%;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -0.5% 1.25% rgba(0,0,0,0.1);
  font-size: 0.9em;
}


nav {
  display: flex;
  justify-content: center;
  padding: 1%;
  background-color: #333;
  width: 100%;
}

/* Styling for the a element in the nav bar */
nav a {
  color: #fff;
  text-decoration: none;
  padding: 0 1.5%;
  transition: color 0.3s ease;
}

/* Styling for the hover effect */
nav a:hover {
  color: #f56a6a;
}

/* Styling for element a */
a {
  color: #1a0dab;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #f56a6a;
}

/* Styling for the unordered list */
ul {
  list-style-type: none;
  padding: 0;
}

/* Styling for the list items */
ul li a {
  transition: transform 0.3s ease;
}

ul li a:hover {
  transform: translateX(1.5%);
}



/* Media query for smaller devices */
@media (max-width: 768px) {
  .content {
    padding: 2%;
  }
  
  header, footer {
    padding: 1% 0;
  }

  nav {
    flex-direction: column;
  }

  nav a {
    padding: 1%;
  }
}
